<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am Ed Ssemuwemba, a seasoned software developer who has a passion for solving everyday problems using
                    software.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked with Android, Ruby, Ruby on Rails, Python, Django</p>
                </div>
            </div>
        </div>
    </section>
