 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-tailwindcss-plain colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Everything positive to say about tailwind css, awesome stuff. It never
        disappoints. I use it everytime I am building a Rails app. I am yet to
        explore alternatives.
      </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <p>I have been recently working mainly with Ruby on Rails with the goal of
         learning the best practices, doing lots of TDD, praciticing Object
         Oriented Design. It has been a thrill.
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <i class="devicon-git-plain"></i>
      <p>Vim qucikly loads on my development machine and I can easily configure
        it for any language I am using. I use VS Code as well but rarely.
        I have exploring rebasing, and squashing git commits</p>
    </div>
</div>
